#wrapper
  h2 remotes
  #remotes
  h2 apps
  #apps
  h2 procs
  #procs
  h2 debug
  #debug

template(id="nexus"):
  div #{JSON.stringify(locals)}

template(id="remote"):
  li.remote #{JSON.stringify(locals)}
  
template(id="app"):
  li.app [id:#{id}] [name:#{name}] [version:#{version}]
   
template(id="proc"):
  li.proc 
    | [id:#{id}] 
    | [name:#{name}] 
    | [script:#{script}] 
    | [options:#{JSON.stringify(options)}] 
    | [crashed:#{crashed}] 
    | [running:#{running}]


